/*
--------------
Global Styles
-------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Poppins", sans-serif; */
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}
/*
--------------
Home
-------------- */
.App {
  display: flex;
  /* flex-direction: column; */
  font-family: "Poppins", sans-serif;
  /* height: 100vh; */
}

.main-content {
  margin-left: 20px;
  display: flex;
}

.side-container {
  display: flex;
  height: auto;
  padding-left: 0;
}
/* @media (min-width: 768px) {
  .side-container {
    height: 92vh;
    padding-left: 2px;
  }
} */

.main-content {
  margin-left: 20px;
  display: flex;
}

.sidebar .copyright {
  margin-top: 1.5rem;
  color: #fff;
}

.side-secondary {
  padding: 16px;
  overflow-y: auto;
  height: 90vh;
  flex: 2;
}

.box-secondary h4 {
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}

.box-secondary h4 span {
  color: #f31503;
}

/* 
--------------
Navbar
--------------
 */
.active {
  color: red;
}

.navlink {
  color: black;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav {
  height: 25%;
  padding: 10px 2%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
}
.nav-links a {
  width: 25px;
  margin-right: 25px;
}
.logo-container .menu-icon {
  width: 22px;
  margin-right: 0;
}
.logo-container .logo {
  width: 130px;
  padding: 10px;
}
.nav-form .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
  height: 35px;
}
.search-box input {
  width: 200px;
  border: 0;
  outline: 0;
  background: transparent;
}
.search-icon {
  color: rgb(181, 177, 177);
}

/* 
--------------
Sidebar
--------------
*/

.sidebar {
  /* width: 20%; */
  border-right: 2px solid rgb(226, 221, 221);
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 25%); */
  overflow-y: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.middle-sidebar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  /* overflow-y: auto; */
  width: 100%;
  width: fit-content;
}
.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.category-list li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.category-btn {
  width: 100%;
  border: none;
  padding: 12px;
  border-radius: 20px;
  /* margin-right: 15px; */
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.category-btn:hover {
  background-color: #fc1503;
  color: white;
}

.category-btn:hover span {
  color: white;
}
.category-btn span {
  padding-right: 0.5rem;
}

.category-list li svg {
  width: 25px;
  height: 25px;
}

.top-sidebar {
  display: flex;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(175, 172, 172);
  align-items: center;
}
.top-sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.top-sidebar .home-icon {
  width: 25px;
  height: 25px;
}
button.active {
  color: rgb(204, 0, 0);
  background-color: #fffefe;
}

.bottom-sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon {
  width: 25px;
  height: 25px;
  color: rgb(96, 96, 96);
  cursor: pointer;
  margin-right: 10px;
}
.icon:hover {
  color: rgb(13, 13, 13);
}
.settings {
  display: flex;
  align-items: center;
  width: 100%;
  width: fit-content;
}
.info-footer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.info-footer span {
  font-size: 14px;
  margin-bottom: 1rem;
}
.settings .theme {
  color: #5a5a5a;
}
h6 {
  width: fit-content;
}

/* 
--------------
Main Content
--------------
*/
.videoList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin: 20px;
}

@media (max-width: 768px) {
  .videoList {
    grid-template-columns: repeat(2, 1fr);
  }
  .category-list .text {
    display: none;
  }
  .category-btn {
    align-items: center;
  }
}

.video-card .thumbnail {
  width: 100%;
  border-radius: 5%;
  margin-bottom: 0.7rem;
  transition: all 0.3s linear;
}
.thumbnail:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.8);
}
.video-title {
  color: #0f0f0f;
  font-size: 1rem;
  font-weight: 700;
}
.channel {
  color: #424040;
  margin-right: 5px;
}
.channel-check {
  color: green;
  background: transparent;
  margin-left: 5px;
}
.date {
  font-weight: 500;
}
.date::before {
  content: ".";
  margin: 0 4px;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: -3px;
}

.profile-image {
  object-fit: contain;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #595757;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.initials {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

p {
  margin-bottom: 0px;
}

/* -----------
Video Details
-------------- */

@media (max-width: 990px) {
  .related-videos {
    display: none;
  }
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 2rem;
}

/* ----
comment section 
---- */

/* Form styles */

hr {
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
  max-width: 500px;
}
.commentsForm {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.commForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.commForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

.commInput {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
}

#formButton {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

#formButton:hover {
  background-color: #3e8e41;
}

/* Comment styles */

.comm {
  list-style: none;
  margin: 20px;
  padding: 0;
}

.comm li {
  margin-bottom: 20px;
}

.commenter {
  font-weight: bold;
  text-transform: capitalize;
}

.commentText {
  margin-left: 20px;
  text-transform: capitalize;
}

.deleteButton {
  color: #f44336;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
  margin-left: 10px;
  font-size: 16px;
}

.deleteButton:hover {
  background-color: #da190b;
  color: #fff;
}

.editButton {
  color: #008cba;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
  margin-left: 10px;
  font-size: 16px;
}

.editButton:hover {
  background-color: #006a80;
  color: #fff;
}
