/*
--------------
Global Styles
-------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #5a5a5a;
}
img {
  cursor: pointer;
}
/*
--------------
Home
-------------- */
body {
 background: #f1f1f1;
font-family: "Poppins", sans-serif;
}

.main-content {
  margin-left: 20px;
  display: flex;
}

.side-container {
  display: flex;
  height: auto;
  padding-left: 0;
}

.main-content {
  margin-left: 20px;
  display: flex;
}

.sidebar .copyright {
  margin-top: 1.5rem;
  color: #fff;
}

.side-secondary {
  padding: 16px;
  overflow-y: auto;
  height: 90vh;
  flex: 2;
}

.box-secondary h4 {
  font-weight: bold;
  margin-bottom: 8px;
  color: white;
}

.box-secondary h4 span {
  color: #f31503;
}

/* 
--------------
Navbar
--------------
 */
.active {
  color: red;
}

.navlink {
  color: black;
}
nav {
  height: 25%;
  padding: 10px 2%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  background-color: white;
} 

.logo {
  width: 130px;
  padding: 10px;
}
.nav-form .search-box {
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
  height: 35px;
}
.search-box input {
  width: 200px;
  border: 0;
  outline: 0;
  background: transparent;
}
.search-icon {
  color: rgb(181, 177, 177);
}

/* 
--------------
Sidebar
--------------
*/


/* 
--------------
Main Content
--------------
*/

.video-card {
  padding: 12px;

}

.video-card .thumbnail {
  width: 100%;
  border-radius: 5%;
  margin-bottom: 0.7rem;
  transition: all 0.3s linear;
}
.thumbnail:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.8);
}
.video-title {
  color: #0f0f0f;
  font-size: 14px;
  font-weight: 700;
}
.channel {
  color: #424040;
  margin-right: 5px;
}
.channel-check {
  color: green;
  background: transparent;
  margin-left: 5px;
}
.date {
  font-weight: 500;
}
.date::before {
  content: ".";
  margin: 0 4px;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: -3px;
}

.profile-image {
  object-fit: contain;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #595757;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.initials {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

p {
  margin-bottom: 0px;
}

/* -----------
Video Details
-------------- */



.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  font-size: 2rem;
}

/* ------------
comment section 
--------------- 
*/

hr {
  height: 1px;
  background-color: #ccc;
  margin-bottom: 20px;
}
.commentsForm {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.commForm {
  display: flex;
  flex-direction: column;
}

.commForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

.commInput {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
  border-bottom: 1px solid #ccc;
}

#formButton {
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 10px;
}

#formButton:hover {
  background-color: #3e8e41;
}

.comm {
  list-style: none;
  margin: 20px;
  padding: 0;
}
.comm li {
  margin-bottom: 20px;
}
.commenter {
  font-weight: bold;
  text-transform: capitalize;
}
.commentText {
  margin-left: 20px;
  text-transform: capitalize;
}

.deleteButton {
  color: #f44336;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
  font-size: 16px;
}

.deleteButton:hover {
  background-color: #da190b;
  color: #fff;
}

.editButton {
  color: #008cba;
  border: none;
  border-radius: 10%;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 5px;
  margin-left: 10px;
  font-size: 16px;
}

.editButton:hover {
  background-color: #006a80;
  color: #fff;
}
.youtube-box {
  position: relative;
  width: 100;
  padding-bottom: 56.25%;
  margin-bottom: 5rem;;
}

.yt-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:0;
}

