@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap");
/*
--------------
Global Styles
-------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
  color: #5a5a5a
}
img {
  cursor: pointer;
}
/*
--------------
App Container
-------------- */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* 
--------------
App Main Container
-------------- 
*/
.main-container {
  display: flex;
}

/* 
--------------
app content container
-------------- 
*/
.main-content {
  margin-left: 20px;
  display: flex;
}

/* 
--------------
Navbar
--------------
 */
 .navbar {
  display: flex;
  align-items: center;
}
 nav {
  justify-content: space-between;
  height: 25%;
  padding: 10px 2%;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.4);
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: white;
 }
.nav-links a {
  width: 25px;
  margin-right: 25px;
}
.logo-container .menu-icon {
  width: 22px;
  margin-right: 0;
}
.logo-container .logo {
  width: 130px;
  padding: 10px;
}
.nav-form .search-box {
  
  border: 1px solid #ccc;
  margin-right: 15px;
  padding: 8px 12px;
  border-radius: 25px;
  height: 35px;
}
.search-box input {
  width: 200px;
  border: 0;
  outline: 0;
  background: transparent;
}
.search-icon {
  color: rgb(181, 177, 177);
}

/* 
--------------
Sidebar
--------------
*/

.sidebar {
  width: 20%;
  /* border-right: 2px solid rgb(226, 221, 221); */
  display: flex;
  flex-direction: column;
  height: calc(100vh - 25%);
  /* overflow: hidden; */
  padding-left: 1rem;
  padding-right: 1rem;
  
}
.middle-sidebar {
  display: flex;
  flex-grow: 1;
  align-items: center;
  /* overflow-y: auto; */
  width: 100%;
  width: fit-content;
}
.category-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.category-list li, .category-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.category-list li svg {
  margin-right: 1rem;
  width: 25px;
  height: 25px;
}

.top-sidebar {
  display: flex;
  padding-bottom: 3rem;
  border-bottom: 1px solid rgb(175, 172, 172);
  align-items: center;
}
.top-sidebar a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.top-sidebar .home-icon {
  width: 25px;
  height: 25px;
}
a.active {
  color: rgb(204, 0, 0);
  background-color: #fffefe;
}

.bottom-sidebar {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.icon {
  width: 25px;
  height: 25px;
  color: rgb(96, 96, 96);
  cursor: pointer;
  margin-right: 10px;
}
.icon:hover {
  color: rgb(13, 13, 13);
}
.settings {
  display: flex;
  align-items: center;
  width: 100%;
  width: fit-content;
}
.info-footer {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
}
.info-footer span {
  font-size: 14px;
  margin-bottom: 1rem;
  
}
.settings .theme {
  color: #5a5a5a;
}
h6 {
  width: fit-content;
}

/* 
--------------
Main Content
--------------
*/
.videoList{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  margin-top: 15px;
}
.video-card .thumbnail {
   width: 100%;
   border-radius: 5%;
}
.video-title {
  color: #0f0f0f;
  font-size: 1rem;
  line-height: 1.6rem;
  /* font-weight: 500; */
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}
.channel {
  color: rgb(111, 109, 109);
}
.date {
display: inline-block;
font-weight: 500;
}
.date::before{
  content: ".";
  margin: 0 4px;
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: -3px;
  
}